<%= form_for(@service_report) do |f| %>
  <% if @service_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_report.errors.count, "error") %> prohibited this service_report from being saved:</h2>

      <ul>
      <% @service_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ITM %><br>
    <%= f.text_area :ITM %>
  </div>
  <div class="field">
    <%= f.label :comissining_reports %><br>
    <%= f.text_area :comissining_reports %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
